*{
	margin: 0;
	padding: 0;
}
.clearfix{
	clear: both;
	overflow: hidden;
}
.header-section{
	position: relative;
	background-color: rgba(0, 0, 0, 0.7);
	left: 0px;
	top: 0px;
} 
.header-section img{
	position: relative;
	z-index: -1;
}
.header-container{
	width: 1270px;
	margin: 0 auto;
}
.header-top{
	position: absolute;
	top:10px;
	z-index: 1;
}
.logo{
	float: left;
	width: 200px;
}
.logo img{
	width: 130px;

}
/*.header-top ul li h1{
	font-size: 40px;
}*/
.btn{
	float: left;
	width: 200px;
	margin-left: 900px;
	margin-top: 20px;
/*	border: 1px solid red;*/
}
.btn button{
	padding: 8px 15px;
	background-color: red;
	border: 1px solid red;
	border-radius: 5px;
	font-size: 14px;
	font-family: sans-serif;
}
.btn button a{
	text-decoration: none;
	color: #fff;
}
.btn button:hover{
	background-color: #C11119;
	border: 1px solid #C11119;
}
	
.title{
	position: absolute;
	top: 255px;
	left: 195px;
	color: #fff;
}
.title h1{
	font-size: 65px;
	text-align: center;
}
.title p{
	text-align: center;
	font-size: 25px;
	margin-top: 15px;
	font-family: sans-serif;
}
.email{
	position: absolute;
	bottom: 360px;
	left: 430px;
	color: #fff;
	text-align: center;
}
.email p{
	font-size: 20px;
	margin-bottom: 10px;
	font-family: sans-serif;
}
.email input{
	padding: 15px 150px 15px 15px;
	background-color: rgba(0, 0, 0, 0.5);
	color: #fff ;
	border: 0.5px solid #4c442e;
	border-radius: 3px;
	font-size: 18px;
}
.email button{
	background-color: red;
	border: 1px solid red;
	border-radius: 3px;
	padding: 15px 25px;
	margin-left: 5px;
	font-size: 20px;
	font-family: sans-serif;
}
.email button a{
	text-decoration: none;
	color: #fff;
}
.email button:hover{
	background-color: #C11119;
	border: 1px solid #C11119;
}